<div id="journeys-end">

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Fatal</h2>
				<p class="subhead">{{ element.fatal|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Probably critical errors</h2>
				<p class="subhead">{{ element.error|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Non critical errors</h2>
				<p class="subhead">{{ element.notice|raw }}</p>
			</div>
		</div>
	</div>


</div>