<!doctype html>
<html class="no-js" lang="en" itemscope
	itemtype="http://schema.org/Product">
<head>
<meta charset="utf-8">

<title>Wurst update status - details</title>

<style>
pre{
    white-space: pre-wrap;
}
</style>

</head>

<body id="journeys-end">

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">notices</h2>
				<p class="subhead"><pre>{{ element.notice }}</pre></p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">errors</h2>
				<p class="subhead"><pre>{{ element.error }}</pre></p>
			</div>
		</div>
	</div>
	
	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">fatal errors</h2>
				<p class="subhead"><pre>{{ element.fatal }}</pre></p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">logs</h2>
				<p class="subhead"><pre>{{ element.log }}</pre></p>
			</div>
		</div>
	</div>


	<div class="wrapper shaded blue-shade" id="subfoot">
		<section class="row">
			<div class="seven columns dl_and_docs"></div>
		</section>
	</div>

</body>
</html>

