<!doctype html>
<html class="no-js" lang="en" itemscope
	itemtype="http://schema.org/Product">
<head>
<meta charset="utf-8">

<title>Gumby - A Flexible, Responsive CSS Framework - Powered by Sass</title>
<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />


<!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport"
	content="width=device-width,initial-scale=1, maximum-scale=1">

<link rel="stylesheet"
	href="http://www.gumbyframework.com/css/gumby.css?1379423984">

<style type="text/css">
.row .twelve.columns {
	width: 100%;
};
</style>


</head>

<body id="journeys-end">

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Info</h2>
				<p class="subhead">{{ element.info|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Fatal</h2>
				<p class="subhead">{{ element.fatal|raw }}</p>
			</div>
		</div>
	</div>

	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Errors</h2>
				<p class="subhead">{{ element.error|raw }}</p>
			</div>
		</div>
	</div>
	<div class="panel body-panel">
		<div class="row">
			<div class="twelve columns">
				<h2 class="headline">Notices</h2>
				<p class="subhead">{{ element.notice|raw }}</p>
			</div>
		</div>
	</div>

	<div class="wrapper shaded blue-shade" id="subfoot">
		<section class="row">
			<div class="seven columns dl_and_docs"></div>
		</section>
	</div>

</body>
</html>

